@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  font-family: "Wix Madefor Display", sans-serif;
  @apply bg-gray-800;
  min-height: 100vh;
}

h1,
h2,
h3 {
  letter-spacing: 0.1rem;
}

.input {
  @apply w-full
    p-1
    text-center
    text-gray-900
    bg-gray-200
    rounded-xl
    focus:outline-none
    focus:ring-2
    focus:ring-gray-400
    focus:ring-opacity-50;
}

.input::file-selector-button {
  @apply bg-white
    text-center
    rounded-xl
    border-0
    drop-shadow-lg
    focus:outline-none
    focus:ring-2
    focus:ring-gray-400
    focus:ring-opacity-50
    cursor-pointer;
}

img {
  @apply rounded-xl
    drop-shadow-lg;
  @apply scale;
}

.scale {
  @apply transition
    duration-300
    ease-in-out
    transform
    hover:scale-105;
}

select {
  @apply w-full
    rounded-md
    bg-gray-100
    text-black;
}
